.card
{
    // box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    padding-top: 2rem;
    color: #333333;
    
    &__side
    {
        background-color: #E16A2C;
        padding: 3rem;
        height: 13rem;
        width: 13rem;
        border-radius: 50%;
        margin:0 auto;

        &-picture-1
        {
            // padding-left: .5rem;
        }

        &-picture-3
        {
            padding-top: .8rem;
        }

        &-picture-4
        {
            padding-top: .8rem;
        }

        &-picture-5
        {
            padding-top: .8rem;
        }
    }

    &__body
    {
        padding: 3rem 3rem 2rem 3rem;
    }
    
    &__heading
    {
        margin-bottom:2.8rem;

        & > h2
        {
            font-size: 2.4rem;
        }
    }

    &__paragraph
    {
        & > p
        {
            font-size: 1.3rem;
        }
    }

}